.logo{
    width: 50px;
    height: auto;
    padding: .8rem;
}

.panel-principal{
    margin-top: 1rem;
}

.paneles{
    padding: 1rem;
}

.fondo_home{
    width: 50%;
    background: black;
    color: white;
    border: 4px solid lime;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}